<template name="home">
  {{> landingSplash}}

  <div id="container-fluid">
    {{> featuretteWidget}}
    {{> featurette1}}
    {{> featurette2}}
    {{> featurette3}}
  </div>
</template>

<template name="landingSplash">
  <div id="landingMarketing">
    <div id="landingMarketingBackground">
      <div id="landingSplashContainer" class="container">
        <div class="row">
          <div id="greatFor" class="col-md-8">
            <h1><strong>Free Scheduling for fishing charters.</strong></h1>
            <h2><span class="text-muted">Untangle your schedule</span></h2>
            <h3>Great for</h3>
            <ul>
              <li>Captains</li>
              <li>Marinas</li>
              <li>Crews</li>
            </ul>
          </div>
          <div id="signUpWrapper">
            <div id="signUpWrapper2">
              {{> signUpForm}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="featuretteWidget">
  <div id="featurette-widget" class="featurette">
    <div class="container">
      <div class='col-md-5'>
        <h2 class="featurette-heading">Add a widget with your schedule.</h2>
        <p class="lead">Easily share your schedule with customers.</p>
      </div>
      <div class="col-md-7">
        <img class="img-responsive" src="https://tidefish-core.s3-us-west-2.amazonaws.com/widget.png" alt="widget">
      </div>
    </div>
  </div>
</template>

<template name="featurette1">
  <div id="featurette-1" class="featurette">
    <div class="container">
      <h2 class="featurette-heading">Manage your schedule anywhere.  <span class="text-muted">Works on all your devices.</span></h2>
      <p class="lead">Designed with tablets, phones and your laptop in mind.  Works on Mac, PC, Android and more.  As well as in low bandwidth conditions.</p>
    </div>
    <div class="container">
      <div class="col-md-2">
        <img class="featurette-image img-responsive" src="https://tidefish-core.s3-us-west-2.amazonaws.com/phone.svg" alt="phone" onerror="this.onerror=null; this.src='https://tidefish-core.s3-us-west-2.amazonaws.com/phone.png'">
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="https://tidefish-core.s3-us-west-2.amazonaws.com/tablet.svg" alt="tablet" onerror="this.onerror=null; this.src='https://tidefish-core.s3-us-west-2.amazonaws.com/tablet.png'">
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="https://tidefish-core.s3-us-west-2.amazonaws.com/laptop.svg" alt="laptop" onerror="this.onerror=null; this.src='https://tidefish-core.s3-us-west-2.amazonaws.com/laptop.png'">
      </div>
    </div>
  </div>
</template>

<template name="featurette2">
  <div id="featurette-2" class="featurette">
    <div class="container">
      <div class="col-12">
        <h2 class="featurette-heading">Share your schedule. <span class="text-muted"></span></h2>
        <p class="lead">Allow others to view and manage your schedule.  Great when others help manage customers.</p>
      </div>
      <div class="col-12">
        <img class="featurette-image img-responsive" src="https://tidefish-core.s3-us-west-2.amazonaws.com/sharing.png" alt="Sharing">
      </div>
    </div>
  </div>
</template>

<template name="featurette3">
  <div id="featurette-3" class="featurette">
    <div class="container">
      <div class="col-md-7">
        <h2 class="featurette-heading">Safe from disaster. <span class="text-muted">Securly stored in the cloud.</span></h2>
        <p class="lead">Stored safely in the cloud, away from theft, fire, and weather.</p>
      </div>
      <div class="col-md-5">
        <i class="fa fa-lock"></i>
      </div>
    </div>
  </div>
</template>
