<template name="home">
  <div id="landingMarketing">
    <div id="landingMarketingBackground">
      <div class="container">
        <div class="col-md-7 strong">
          <h1><strong>Scheduling for fishing charters.</strong></h1>
          <h2><span class="text-muted">Untangle your schedule</span></h2>
          <h3>Great for</h3>
          <ul>
            <li>Captains</li>
            <li>Marinas</li>
            <li>Crews</li>
          </ul>
        </div>
        <div class="col-md-5">
          {{> signUpForm}}
        </div>
      </div>
    </div>
  </div>

  <div class="marketing">
    {{> featurette1}}
    {{> featurette2}}
    {{> featurette3}}
  </div>


</template>

<template name="featurette1">
  <div id="featurette-1" class="featurette">
    <div class="container">
      <h2 class="featurette-heading">Manage your schedule anywhere.<span class="text-muted">Works on all your devices.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="container">
      <div class="col-md-3">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Phone">
      </div>
      <div class="col-md-3">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Tablet">
      </div>
      <div class="col-md-3">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="PC">
      </div>
    </div>
  </div>
</template>

<template name="featurette2">
  <div id="featurette-2" class="featurette">
    <div class="container">
      <h2 class="featurette-heading">Share your schedule. <span class="text-muted"></span></h2>
      <p class="lead">Allow others to view and manage your schedule.  Great when others may encounter potential customers.</p>
    </div>
    <div class="container">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
</template>

<template name="featurette3">
  <div id="featurette-3" class="featurette">
    <div class="container">
      <h2 class="featurette-heading">Safe from disaster. <span class="text-muted">Securly stored in the cloud.</span></h2>
      <p class="lead">Stored safely in the cloud, away from theft, fire, weather, and more.</p>
    </div>
    <div class="container">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
</template>
