<template name="home">
  <div class="jumbotron">
    <h1>Start booking today.</h1>
    <p class="lead">Free, Fast, Secure cloud booking for fishing charters.</p>
    <p><a class="btn btn-lg btn-success" href="/sign-up" role="button">Sign Up Today</a></p>
  </div>

  <div class="row panel marketing">
    <div class="col-lg-4">
      <div class="marketing-icon">
        <i class="fa fa-cloud fa-fw fa-5x text-center"></i>
      </div>
      <h2>Cloud</h2>
      <p>Update your schedule from anywhere.  Allow others to view it.</p>
      <p>Stored securely in the cloud, safe from disasters.</p>
    </div>
    <div class="col-lg-4">
      <div class="marketing-icon">
        <i class="fa fa-calendar fa-fw fa-5x text-center"></i>
      </div>
      <h2>Simple</h2>
      <p>No unneeded clutter, designed for fishing charters.  The features you need and nothing else.</p>
   </div>
    <div class="col-lg-4">
      <div class="marketing-icon">
        <i class="fa fa-search fa-fw fa-5x text-center"></i>
      </div>
      <h2>Coming Soon: SEO</h2>
      <p>Let us find you new clients. Only clients that are interested in fishing on days that you are avaliable.</p>
    </div>
  </div>
</template>
