<template name="landing2signUpForm">
  <div id="signUpForm">
    <div id="signUpFormContents">
      <h3>Sign up today</h3>
      {{#if hasErrors}}
        <div class="alert alert-danger">  
          {{errors}}
        </div>
      {{/if}}
      <div class="entry-social">
        {{#each loginServices}}
          {{> entrySocial}}
        {{/each}}
      </div>
      <div class="email-option">
        <strong>or register with email</strong><br>
        <form id="sign-up">
          <input id="email" placeholder="Email" class="form-control" type="email"/>
          <div class="form-group hasError">
            <input id="password" placeholder="Password" class="form-control" type="password"/>
          </div>
          <input id="submit" class="form-control btn btn-primary" type="submit" value="Sign Up - It's Free!">
        </form>
      </div>
    </div>
  </div>
</template>

