@import "custom.bootstrap.import.less";

@import "custom.bootstrap.less";

.panel {
  padding: 20px;
  background-color: @light-color; 
}

html {
  background-size: cover;
  min-height: 100%;
  position: relative;
}

@import "components/home.less";
@import "components/boatprofile.less";
@import "components/calendar.less";
@import "components/nav.less";
@import "components/responsive.less";
@import "components/welcome.less";
@import "components/disconnected.less";
