@import "custom.bootstrap.import.less";
@import "responsive.less";
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);

@font-family-sans-serif: "Muli", Helvetica, Arial, sans-serif;
@headings-font-family: "Muli", Helvertica, Arial, sans-serif;
@headings-font-weight: 400;
@color: #fff;
@background: transparent;
@border: #fff;
@nav-height: 50px;

@light-color: #EDF3F7;  

html {
  background-image: url('https://fish-booking-core.s3-us-west-2.amazonaws.com/background.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  position: relative;
}

body {
  background: transparent;
}

h3 {
  margin-top: 0px;
}

.calendar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.panel {
  padding: 20px;
  background-color: @light-color; 
}

/*
 * Nav
 */
img{
  height: 40px;
  width: 40px;
}

.navbar-inverse{
  color: @light-color;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand
{
  color: @light-color;
}

/*
 * footer
 */
#footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  margin-top: 20px;
}

#footer a{
  color: white;
}

/*
 * BoatProfile
 */
#boatProfile{
  margin: 20px;
}

/*
 * Home page
 */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.marketing i{
  color: #424AFF;
}

.marketing-icon {
  text-align: center;
  padding: 40px;
}

/*
 * Calendar
 */
.fc-day{
  background: #fff;
}

/*
 * Schedule
 */
.boat-schedule{
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
}

textarea#notes {
  min-height: 75px;
}
