<head>
  <title>Tide.Fish</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/fish-booking-core/favicon2.ico" type="image/x-icon" />
</head>

<body>
</body>

<template name="layout">
  {{#unless hideNav}}
    {{> nav}}
  {{/unless}}

  {{#unless isDisconnected}}
    <div id="contents" class="container">
      {{> yield}}
    </div>
  {{else}}
    {{> disconnected}}
  {{/unless}}

  {{#unless hideFooter}}
    {{> footer}}
  {{/unless}}
</template>


<template name="nav">
  <div class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Tide.Fish</a>
      </div>
      {{#unless isDisconnected}}
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {{#if currentUser}}
              <li><a href="{{pathFor 'schedule'}}"><i class="fa fa-calendar-o">&nbsp;Schedule</i></a></li>
              <li><a href="{{pathFor 'profile'}}"><i class="fa fa-user">&nbsp;Profile</i></a></li>
              <li><a href="{{pathFor 'sharing'}}"><i class="fa fa-group">&nbsp;Sharing</i></a></li>
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
              {{#unless isDisconnected}}
                <li>{{> notifyIcon}}</li>
              {{/unless}}
              <li><a href="/sign-out">Sign Out</a></li>
            {{else}}
              <li><a href="/sign-in">Sign In</a></li>
              <li><a href="/sign-up">Sign Up</a></li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      {{/unless}}
    </div>
  </div>
</template>

<template name="footer">
  <div id="footer" class="navbar navbar-inverse">
    <div class="container">
      <div class="col-md-10">
        <a href='{{pathFor "feature_request"}}'>Request Feature</a>  &middot;  
        <a href='{{pathFor "bug_report"}}'>Report a Bug</a>  &middot;  
        <a href='{{pathFor "contact_us"}}'>Contact Us</a><br>
        Created by <a href="http://elevatedevdesign.com">Elevate Development and Design, LLC.</a><br>
        Font Awesome by Dave Gandy - <a href="http://fontawesome.io">http://fontawesome.io</a>
      </div>
      <div class="col-md-2">
        <a href="https://www.positivessl.com" style="font-family: arial; font-size: 10px; color: #212121; text-decoration: none;"><img src="https://www.positivessl.com/images-new/PositiveSSL_tl_trans2.png" alt="SSL Certificate" title="SSL Certificate" border="0" /></a>
      </div>
    </div>
  </div>
</template>

<template name="disconnected">
  <div id="disconnected" class="container panel">
    <div class="alert alert-danger text-center">
      <i class="fa fa-anchor fa-5x text-center"></i><br>
      <h1>You are not currently connected to this site.</h1>
      <h1>Please check your internet access.</h1>
    </div>
  </div>
</template>
