<template name="contact_us">
  <div class="panel">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <h3>Whats up?</h3>
      </div>
    </div>
    <div class="row">
      {{#autoForm schema=contactFormSchema id="contactForm" type="method" meteormethod="sendEmail"}}
        <fieldset>
          {{#unless currentUser}}
            {{> afQuickField name="email" template="bootstrap3-horizontal" label-class="col-sm-2 text-right" input-col-class="col-sm-10"}}
          {{/unless}}
          {{#if subject}}
            {{> afQuickField name="subject" value=subject options="allowed" template="bootstrap3-horizontal" label-class="col-sm-2 text-right" input-col-class="col-sm-10"}}
          {{else}}
            {{> afQuickField name="subject" options="allowed" template="bootstrap3-horizontal" label-class="col-sm-2 text-right" input-col-class="col-sm-10"}}
          {{/if}}
          {{> afQuickField name="details" rows=10 template="bootstrap3-horizontal" label-class="col-sm-2 text-right" input-col-class="col-sm-10"}}
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </fieldset>
      {{/autoForm}}
    </div>
  </div>
</template>
