<template name="calendar">
  <div class="row panel">
    <div class="col-sm-2">
      {{> vertiCal numDays=14}}
    </div>
    <div class="col-md-8 col-md-offset-1 col-sm-10">
      {{> schedule}}
    </div>
  </div>
</template>

<template name="schedule">
    <legend class="text-center"><h2>{{dateString}}</h2></legend>
    {{#each boatData}}
      <div id="boat-{{_id}}" class="well">
        {{#if ambiguousBoat}}
          <legend>{{name}}
            {{#if dateFuture}} 
              <button type="button" class="btn btn-default new-btn btn-xs pull-right"><i class="fa fa-edit"></i>&nbsp;New</button>
            {{/if}}
          </legend>
        {{/if}}
        {{#if hasBookings}}
          {{#each bookings}}
            <h4>{{tripLength}}
              {{#if dateFuture}} 
                <div class="btn-group pull-right">
                  <button id="edit-{{_id}}" type="button" class="btn btn-default edit-btn btn-xs"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                  <button id="delete-{{_id}}" type="button" class="btn btn-danger delete-btn btn-xs"><i class="fa fa-trash"></i>&nbsp;Cancel</button>
                </div>
              {{/if}}
            </h4>
            {{{notes}}}
          {{/each}}
        {{else}}
          None scheduled
        {{/if}}
        {{#if bookingForm}}
          {{>calBookingForm}}
        {{/if}}
      </div>
    {{/each}}
    {{#unless ambiguousBoat}}
      {{#if dateFuture}}
        {{> calBookingForm}}
      {{/if}}
    {{/unless}}
</template>
