@import "../custom.bootstrap.import.less";

#landingMarketing{
  background-color: @gray;
  margin-bottom: 0px;
  padding: 0px;
  color: white; 
  height: 600px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  #landingMarketingBackground{
    background-image: url("https://fish-booking-core.s3-us-west-2.amazonaws.com/test-home.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
  }
  #signUpWrapper{
    height: 100%;
  }
  #signUpForm{
    strong::before,
    strong::after{
      background-color: rgba(0,0,0,0); 
    }
    color: @gray-lighter;
    background-color: @gray-dark;
    opacity: 0.93;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    #signUpFormContents{
      padding: 0px;
      margin-left: auto;
      margin-right: auto;
      width: 280px;
    }
  }
  .text-muted{
    color: @gray-lighter;
  }
}

/*
 * Marketing
 */
#featurette-1{
  background-color: @gray-light;
  color: @gray-lighter;
}
#featurette-2{
  background-color: @blue-dark;
  color: @gray-lighter;
}
#featurette-3{
  background-color: @gray-dark;
  color: @gray-lighter;
}
.featurette{
  border-top: 1px;
}


@media (min-width: @screen-xs-min) {
  .featurette{
    padding: 30px;
  }
}
@media (min-width: @screen-sm-min) {
  .featurette{
    padding: 30px;
  }
}
@media (min-width: @screen-md-min) {
  .featurette{
    padding: 40px;
  }
}
@media (min-width: @screen-lg-min) {
  .featurette{
    padding: 50px;
  }
}
