<template name="schedule">
  <div class="col-sm-2">
    {{> vertiCal numDays=14}}
  </div>
  <div class="col-md-8 col-md-offset-1 col-sm-10">
    {{> scheduleDetails}}
  </div>
</template>

<template name="scheduleDetails">
    <legend class="text-center"><h2>{{dateString}}</h2></legend>
    {{#each boatData}}
      {{> scheduleBoatLineItem}}
    {{/each}}
</template>

<template name="scheduleBoatLineItem">
  <div id="boat-{{_id}}" class="panel panel-default">
    {{#if ambiguousBoat}}
      <div class="panel-heading">
        {{name}}
        {{#if dateFuture}} 
          <button type="button" class="btn btn-default new-btn btn-xs pull-right"><i class="fa fa-edit"></i>&nbsp;New</button>
        {{/if}}
      </div>
    {{/if}}
    <div class="panel-body">
      {{#if newForm}}
        <div class="well">
          {{>calBookingForm}}
        </div>
      {{/if}}
      
      {{#if bookings}}
        {{#each bookings}}
          {{> scheduleBookingLineItem}}    
        {{/each}}
      {{/if}}

      {{#unless bookings}}
        {{#unless newForm}}
          None scheduled
        {{/unless}}
      {{/unless}}
    </div>
  </div>
</template>

<template name="scheduleBookingLineItem">
  <div class="well">
    {{#if editing}}
      {{>calBookingForm}}
    {{else}}
      <h4>{{tripLength}}
        {{#if dateFuture}} 
          <div class="btn-group pull-right">
            <button id="edit-{{_id}}" type="button" class="btn btn-default edit-btn btn-xs"><i class="fa fa-edit"></i>&nbsp;Edit</button>
            <button id="delete-{{_id}}" type="button" class="btn btn-danger delete-btn btn-xs"><i class="fa fa-trash"></i>&nbsp;Cancel</button>
          </div>
        {{/if}}
      </h4>
      {{{notes}}}
    {{/if}}
  </div>
</template>
