<template name="boatDetails">
  <div class="col-md-offset-2 col-md-8">
    {{> boatForm}}
    {{> boatSchedulePublish }}
    {{#if owned }}
      {{> boatFormRemove}}
    {{/if}}
  </div>
</template>

<template name="boatForm">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{title}}
    </div>
    <div class="panel-body">
      {{#autoForm collection="Boats" id="boatForm" doc=editDoc type=formMode}}
        <fieldset data-toggle="tooltip" title="Only the boat owner can modify the form.">
          {{> afQuickField name='name' required="true"}}
          {{> afQuickField name='capacity'}}
        </fieldset>
        <button type="submit" class="btn btn-primary {{disabled}}"><i class="fa fa-edit"></i>&nbsp;Save</button>
      {{/autoForm}}
    </div>
  </div>
</template>

<template name="boatSchedulePublish">
  <div class="panel panel-default">
    <div class="panel-heading">
      Publish Boat Schedule
    </div>
    <div class="panel-body">
      <p class="muted">
        This allows your boat to be displayed via widget.  Publishes what time slots you have avaliable on a future date.
      </p>
      <div class="btn-group btn-toggle"> 
        <button class="btn {{ notPublishedClass }}">Off</button>
        <button class="btn {{ publishedClass }}">On</button>
      </div>
      &nbsp;{{ publishedText }}
    </div>
  </div>
  
</template>

<template name="boatFormRemove">
  <div class="panel panel-danger">
    <div class="panel-heading">
      Remove Boat
    </div>
    <div class="panel-body">
      <p>The following will permenantly and irreveribly remove the boat.  Please be sure.</p>
      <button class="btn btn-danger remove"><i class="fa fa-trash">&nbsp;Remove</i></button>
    </div>
  </div>
</template>
