<template name="boatDetails">
  {{#autoForm collection="Boats" id="boatProfile" doc=editDoc type="update" class="form-horizontal"}}
    <fieldset>
      {{> afQuickField name='name' required="true" template="bootstrap3-horizontal" label-class="col-sm-2 text-right" input-col-class="col-sm-10"}}
      {{> afQuickField name='capacity' template="bootstrap3-horizontal" label-class="col-sm-2 text-right" input-col-class="col-sm-10"}}
    </fieldset>
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;Save</button>
    </div>
  {{/autoForm}}
</template>
