<template name="profile">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Schedule Widget
      </div>
      <div class="panel-body">
        Include an overview of boat schedules on your web page.
        Place this where you would like the widget on your web page.
        <div class="well">
          <code>
            {{ htmlSnippet }}
          </code>
        </div>
        Place this at the end of your page.
        <div class="well">
          <code>
            {{ jsSnippet }}
          </code>
        </div>
      </div>
    </div>
  </div>
</template>
