<template name="boatSharing">
  <div class="col-sm-offset-2 col-sm-10">
    <legend class="col-12">Sharing</legend>
    <p>Allow others to add and remove bookings.  Useful when your marina or others may talk with potential anglers.</p>
  </div>
  <div class="col-sm-2 text-right">
    <b>Users allowed to book</b><br>
  </div>
  <div class="col-sm-10">
    {{#each allowedUsers}}
      <div id="{{userId}}">
        {{email}}
      </div>
    {{/each}}

    <form class="form-inline">
      <input id="newBookingUser" class="form-control" placeholder="User Email" type="email"/>
      <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add</button>
    </form>
  </div>
</template>
