<template name="sharing">
  <div class="panel">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        {{#if owned}}
          {{> yourBoat}}
        {{else}}
          {{> sharedWithYou}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="yourBoat">
  <legend>Sharing</legend>
  <p class="text-muted">Allow others to add and remove bookings.  Useful when your marina or others may talk with potential anglers.</p><br>
  {{> newShareRequest}}<br><br>
  {{> shared}}<br><br>
  {{> pendingShares}}<br><br>
</template>

<template name="newShareRequest">
  <b>New Share</b><br>
  <form class="form-inline">
    <input id="newBookingUser" class="form-control" placeholder="User Email" type="email"/>
    <button type="submit" id="newShareRequestSubmit" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add</button>
  </form>
</template>

<template name="pendingShares">
  <legend>Pending Shares</legend>
  {{#each pendingShares}}
    {{> pendingShare}}
  {{/each}}
</template>

<template name="pendingShare">
  <div class="row">
    <div class="col-md-8">
      {{fromMsg}}
    </div>
    <button class="btn btn-danger remove"><i class="fa fa-trash">&nbsp;Remove</i></button>
  </div>
</template>

<template name="shared">
  <legend>Active Shares</legend>
  {{#each shared}}
    {{> singleShare}}
  {{/each}}
</template>

<template name="singleShare">
  <div class="row">
    <div class="col-md-8">
      {{email}}
    </div>
    <button class="btn btn-danger remove"><i class="fa fa-trash">&nbsp;Remove</i></button>
  </div>
</template>

<template name="sharedWithYou">
  <legend>Shared With You</legend>
  <p class="text-muted">This boat has been shared with you. You can remove yourself from it below.</p>
  <button class="btn btn-danger remove"><i class="fa fa-trash">&nbsp;Remove</i></button>
</template>
